.text1 {
    -fx-text-fill: white;
    -fx-font-family: "Impact";
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-stroke: rgba(255, 255, 255, 0.3);
    -fx-stroke-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 0, 255, 0.8), 15, 0, 0, 0);
}

.text3 {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 48px;
    -fx-text-fill: linear-gradient(purple, blue, pink, white);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.text2 {
    -fx-font-family: "System";
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-padding: 10px 0px;
}

.frame1 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.button-custom {
    -fx-background-color: linear-gradient(to right, #6a11cb, #2575fc);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 2);
}

.button-custom:hover {
    -fx-background-color: linear-gradient(to right, #8e44ad, #3498db);
}

.textField {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 20;
    -fx-padding: 8 15 8 15;
}

.menu-button-custom {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-padding: 5 15 5 15;
    -fx-cursor: hand;
}

.menu-button-custom .label {
    -fx-text-fill: #2f3640;
}

.menu-button-custom .arrow-button {
    -fx-background-color: transparent;
}

.menu-button-custom .arrow {
    -fx-background-color: #6a11cb;
}

.hBox1 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-border-color: #b0b0b0;
    -fx-border-radius: 20;
    -fx-padding: 5 15 5 15;

}